<% provide(:title, "Sofi") %>
<h1>Hey Sofi</h1>
<p>
  This is a little more complex haha
</p>
<img src="https://www.google.com/search?q=gato&client=firefox-b-ab&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjVvf_pldPVAhWBDJAKHdqTBDkQ_AUICigB&biw=1411&bih=775#" alt="">
